@media only screen and (max-width: 520px) {
	body {
		flex-direction: row;
		word-wrap: break-word;
		padding: 0;
	}

	header .cabecalho-1 {
		padding-right: 1em;
		justify-content: space-around;
	}

	header .cabecalho-2 {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.submenu-conteudo {
		display: none;
		position: absolute;
		top: 0;
		left: 100%;
		background-color: darkblue;

		border-radius: 5px;
		z-index: 10;
	}

	#logo {
		padding-top: 0;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 500px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}

	nav ul li {
		margin-right: 0;
		margin-bottom: 10px;
	}

	main {
		flex-direction: column;
		padding: 1em;
		padding-bottom: 0;
	}

	#slider {
		width: 100%;
		height: auto;
	}

	.boxes-imagens {
		display: flex;
		flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte */
		justify-content: center; /* Centraliza os itens na linha */
		gap: 10px; /* Espaçamento entre os itens */
		padding: 10px; /* Adiciona espaço ao redor da galeria */
	}

	.boxes-imagens figure {
		flex: 1 1 calc(100% - 20px); /* Cada item ocupa 50% da largura, menos o espaço do gap */
		max-width: 90%;
		text-align: center;
		justify-content: center;
		margin: 10px 0; /* Espaçamento vertical */
	}
	.boxes-imagens figure figcaption {
		padding-left: 5em;
	}

	.boxes-imagens img {
		height: 80%;
		width: 80%; /* Imagem ocupa toda a largura do container */
		max-width: 200px;
		max-height: 100px;
		object-fit: cover;
		border-radius: 5px;
	}

	.conteudo-com-imagem {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 1em;
	}
}

@media only screen and (max-width: 480px) {
	h3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 1em;
	}

	.texto-conteudo {
		max-width: 100%;
	}

	.imagem-conteudo img {
		width: 100%;
		height: auto;
	}

	footer {
		padding: 20px 1em;
	}

	.footer-links {
		flex-direction: column;
		align-items: center;
	}

	.footer-links a {
		margin-bottom: 10px;
	}
}
